{% extends 'base.html' %}

{% block body %}
<h1>Home Page</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-success">Buy Now</a>
                <a href="{% url 'detail' id=product.id %}" class="btn btn-secondary">See Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}